@media screen and (max-width:680px) {
		.ph .rightfoo{
		margin:5px;
		height:auto;
		width:100px;
		padding:0;
		line-height:5pt;
		}
	.ph .midfoot
	{
		width:auto;
		height:250px;
	}
	.ph .leftfoo{
		margin:5px;
		line-height:5pt;
		letter-spacing:normal;
		height:auto;
		width:auto;
		}
	.ph	.footer{
		background-color: #00796b;
		color:#FFF;
		width:99%;
		position:fixed;
		bottom:100%;
		font-size:15pt;
		left: 3px;
		}
	.ph .reach{
		margin:10px;
		width:70%;
		height:250px;	
		left:13%;
		position:absolute;
		}
	.head{ visibility:hidden;}
	.ph{
		top:41px;
		position:fixed;
		width:680px;
		margin:-8px;
		height:200px;
		}
	.ph	ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	width: 680px;
	}
	.ph li a {
    	display: block;
		color: #fff;
		font-weight:bold;
		text-align: left;
    	padding: 3px 6px;
    	text-decoration: none;
    	background-color: #00796b;
	}

	.ph li a:hover {
    	background-color:#B2DFDB;
	}

	.ph li a.active {
    	background-color: #009688;
    	color: #fff;
	}
	.ph li a:hover:not(.active) {
    	background-color:#B2DFDB;
    	color: #212121;
	}
	.ph h3{
		margin:20px;
		padding:2px;
		color:#00796b;
		 font-family:"Papyrus", monospace;
		 font-weight:bold; 
	}
}
@media screen and (min-width:680px) {
	
	.head{
		top:0%;
		margin:0px;
		width:100%;
		height:45px;
	}

	.head ul{
		list-style-type: none;
   		 margin: -8px;
    	padding: 0;
    	overflow: hidden;
    	background-color:#00796b;
		font-size:21px;
	}
	.head li{
		float: right;
	}
	.reach button:hover{color:#C6C;}
	.head li a,.dropdwn{
		display: inline-block;
    	color: #fff;
		font-weight:bold;
		overflow:visible;
		text-align: center;
    	padding: 14px 18px;
    	text-decoration: none;
		}
	.head li a:hover, .dropdown:hover .dropbtn {
    	background-color:#B2DFDB;
	}
	.head li.dropdown {
    	display: inline-block;
		overflow:visible;
	}

	.head li a.active {
    	background-color: #009688;
    	color: #fff;
	}
	.head li a:hover:not(.active) {
    	background-color:#B2DFDB;
    	color: #212121;
	}
	.head h3{
		margin:2px;
		padding:2px;
		color:#FFF;
		 font-family:"Papyrus", monospace;
		 font-weight:bold
	}
	.head .dropdown-content {
    	display: none;
    	position: absolute;
    	background-color: #f9f9f9;
   		 min-width: 160px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}
	.head .dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	    text-align: left;
	}
	.head .dropdown-content a:hover {background-color: #f1f1f1}

	.head .dropdown:hover .dropdown-content {
	    display: block;
	}
	.ph{
			visibility:hidden;
	}
	.head .rightfoo{
		right:1000px;
		float:right;
		height:auto;
		width:200px;
		font-size:14px;
		padding:0;
		line-height:5pt;
		}
		
	.head .leftfoo{
		margin-left:5px;
		line-height:5pt;
		letter-spacing:normal;
		float:left;
		font-size:14px;
		height:auto;
		width:500px;
		}
	.head	.footer{
		background-color: #00796b;
		color:#FFF;
		width:100.84%;
		margin-left:-8px;
		height:100px;
		position:relative;
		bottom:0%;
		font-size:21px;
		left: 3px;
		}
		.head a{ 
			text-decoration:none;
		}
		.head .reach{
			margin:80px;
			
			text-shadow: 1px 1px 2px black;
			width:80%;
			margin-left:-50px;
			height:250px;
			left:15%;
			top:60%;
			position:absolute;
			}
	
		table{border:#000 1px;
margin-top:15px;
width:70%;
}
td,th{
	padding:2px;
	margin:2px;
	
	}
	td:hover{
		background-color:#999;
		color:#fff;
		font-weight:bold;}
	tr:nth-child(even) {background-color: #FFF}

	.head .reach ul{
		border:2px #333;
		color:#066; 
		font-size:36px;
		list-style-type: none;
		left:50px;
		display:inline;
		}
	.head .reach li{
		float:left;
		
		margin-left:120px;
		margin-right:50px;	
		margin-top:-30px;
	}
	.head .imag{
		z-index:-1;
		}
		.head .tex{
		
		}

	.head .reach li a:hover {
		color:#06F;
		background-color:#FFF;
	}
	.head .reach li a{
		display: inline-block;
    	color: #000;
		font-weight:bold;
    	text-decoration: none;
		}
	.head .midfoot
	{
		background-color: #00796b;
		color:#FFF;
		margin-top:100px;
		width:99.79%;
		height:150px;
		position:absolute;
		bottom::0%;
		font-size:21px;
		margin-left:-7px;
	}
	.head .midft
	{
		
		}

	.head .tab td,th{
	padding:2px;
	margin:2px;
	background-color:#CC9;}
	.head .tab table{
			border:#FFF 1px;
			margin-top:35px;
			width:70%;
			margin-bottom:172px;
		}
.head .econo{
	margin-left:120px;
	margin-right:120px;
	}
.head .tab	tr:nth-child(even) {background-color: #666;color:#000;}
	.head pre,p{
		font-family:Verdana, Geneva, sans-serif;
		font-size:16px;
		}
	.head .tab td:hover{
		background-color:#FFF;
		color:#fff;
		font-weight:bold;
	}
	.head .comm{
		width:50%;
		height:300px;
		background-color:#EBEBEB;
		border:5px 5px 5px #000;
		margin-top:300px;
		margin-left:300px;
		}
		.head .badnore{width:70%;
		font-size:19px;
		margin-bottom:150px;
		margin-left:150px;
		}
		.head .harni{width:70%;
		font-size:19px;
		margin-bottom:10px;
		margin-left:150px;}
		.head .his{width:70%;
		font-size:19px;
		margin-bottom:10px;
		margin-left:199px;}
		.head .mand,.ram{width:70%;
		font-size:19px;
		margin-bottom:20px;
		margin-left:199px;
		margin-top:20px;
		}
		.head .men{width:70%;
		font-size:19px;
		margin-bottom:10px;
		margin-left:205px;
		margin-top:20px;
		}
		.mySlides {display:none;}
		
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
	height:250px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
	font-weight:bold;
}
.head .tou{
	margin-bottom:50px;
	margin-top:10px;
	width:100%;
	height:770px;
	}
 }


